body {
  background-color: rgb(67, 63, 59);
  color: antiquewhite;
  font-weight: 400px;
}

.card-body {
  margin: 30px;
}

#col1 {
  border-radius: 10px;
}
#col1 {
  color: rgb(73, 55, 55);
}

#cv-template {
  display: none;
}

#nameT2 {
  color: aliceblue;
}
.myimg {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

a {
  text-decoration: none;
  color: rgb(0, 6, 179, 0.568);
}

.background {
  background-color: rgb(255, 222, 180);
}
